
.container {
  position: relative;
  vertical-align: center; 
/*  width: 969px;
  height: 607px; */
  /*background-image: url('allUS/allusa-white.png')*/
}

#theMap {
  position: relative;
}

.state {
  filter: opacity(100%);
  transition: .5s ease;  
}

.state:hover {
	filter: opacity(50%); 
}

#CA {
	position: absolute;
	top: 161px;
	left: 0px;
}

#NV {
	position: absolute;
	top: 180px;
  left: 69px;
}

#OR {
	position: absolute; 
	top: 62px;
	left: 15px; 
}

#WA {
	position: absolute;
	top: 0px;
	left: 50px;
}

#AK {
	position: absolute;
	top: 438px;
	left: 4px;
}

#ID {
	position: absolute;
	top: 28px;
	left: 138px;
}

#UT {
	position: absolute; 
	top: 206px;
	left: 164px;
}

#AZ {
	position: absolute;
	top: 321px;
	left: 132px;
}

#MT {
	position: absolute;
	top: 32px;
	left: 187px;
}

#WY {
	position: absolute;
	top: 146px; 
	left: 237px;
}

#CO {
	position: absolute;
	top: 243px;
	left: 257px;
}

#NM {
	position: absolute; 
	top: 335px;
	left: 240px;
}

#HI {
	position: absolute;
	top: 516px;
	left: 241px;
}

#TX {
	position: absolute;
	top: 360px;
	left: 290px;
}

#OK {
	position: absolute;
	top: 346px;
	left: 367px;
}

#KS {
	position: absolute;
	top: 280px;
	left: 387px;
}

#NE {
	position: absolute;
	top: 204px;
	left: 358px;
}

#SD {
	position: absolute;
	top: 137px;
	left: 362px;
}

#ND {
	position: absolute;
	top: 66px;
	left: 367px; 
}

#MN {
	position: absolute;
	top: 65px;
	left: 477px;
}

#IA {
	position: absolute;
	top: 195px;
	left: 490px;
}

#MO {
	position: absolute;
	top: 264px;
	left: 505px;
}

#AR {
	position: absolute;
	top: 357px;
	left: 529px; 
}

#LA {
	position: absolute;
	top: 438px;
	left: 542px;
}

#MS {
	position: absolute;
	top: 389px;
	left: 592px; 
}

#IL {
	position: absolute;
	top: 215px;
	left: 581px; 
}

#WI {
	position: absolute;
	top: 117px;
	left: 550px; 
}

#MI {
	position: absolute;
	top: 98px;
	left: 591px;
}

#IN {
	position: absolute;
	top: 226px;
	left: 645px; 
}

#KY {
	position: absolute;
	top: 288px;
	left: 627px;
}

#TN {
	position: absolute;
	top: 336px;
	left: 611px; 
}

#AL {
	position: absolute;
	top: 383px;
	left: 653px;
}

#FL {
	position: absolute;
	top: 472px;
	left: 671px; 
}

#GA {
	position: absolute;
	top: 378px;
	left: 703px;
}

#SC {
	position: absolute;
	top: 370px;
	left: 744px; 
}

#NC {
	position: absolute;
	top: 317px;
	left: 725px; 
}

#OH {
	position: absolute;
	top: 206px;
	left: 695px;
}

#WV {
	position: absolute;
	top: 238px;
	left: 746px;
}

#VA {
	position: absolute;
	top: 260px;
	left: 731px; 
}

#MD {
	position: absolute;
	top: 245px;
	left: 799px;
}

#DE {
	position: absolute;
	top: 240px;
	left: 861px;
}

#PA {
	position: absolute;
	top: 187px;
	left: 770px;
}

#NJ {
	position: absolute;
	top: 201px;
	left: 864px;
}

#NY {
	position: absolute;
	top: 108px;
	left: 778px;
}

#CT {
	position: absolute;
	top: 172px;
	left: 887px;
}